:root {
  --white: #ffffff;
  --black: #121212;
  --gray: #929292;
  --text-gray: #636363;
  --text-dark-gray: #818181;
  --light-gray: #f4f4f4;

  --red-main: #ea0a23;
  --red-scrollbar: rgba(234, 10, 35, 0.6);
  --red-main-pale: rgba(234, 10, 35, 0.4);
  --red-main-01: rgba(234, 10, 35, 0.1);
}
