.section-container {
  max-width: var(--container-width);
  width: 100%;

  padding: 0 var(--space-7);
  margin: 0 auto;
  
  /* 55px - height of header */
  scroll-margin-top: 55px;

  @media screen and (width <= 768px) {
    padding: 0 var(--space-4);
  }
}

.no-scroll {
  overflow: hidden;
}

.header--hidden {
  transform: translateY(-100%) !important;
}

.mandatory-x-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  .mandatory-x-item {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 100%;
  }
}

/* scrollbar */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--red-scrollbar) transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--red-scrollbar);
  border-radius: 50%;
  transition: background-color var(--fast-transition);
}

@media (any-hover: hover) {
  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, var(--red-scrollbar), black 20%);
  }
}

/* bg-colors */
.bg-white {
  background-color: var(--white);
}

.bg-red-main {
  background-color: var(--red-main);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-black {
  background-color: var(--black);
}

.bg-transparent {
  background-color: transparent;
}

.bg-white-1 {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-white-2 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-black-05 {
  background-color: rgba(18, 18, 18, 0.05);
}
