.text-heading,
.heading,
.bounded {
  font-family: var(--font-bounded);
}

.text-body,
.body-text,
.onest {
  font-family: var(--font-onest);
}

.prewrap {
  white-space: pre-wrap;
}

/* colors */
.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.gray {
  color: var(--gray);
}

.dark-gray {
  color: var(--text-dark-gray);
}

.red-main {
  color: var(--red-main);
}

/* sizes */
.nav-text {
  font-weight: 400;
  font-size: 12px;

  @media screen and (width <= 1024px) {
    font-size: 24px;
  }
}

.section-heading-text {
  font-size: clamp(1.5rem, 1.159rem + 1.36vw, 2.25rem);
  font-weight: 700;

  @media screen and (width <= 768px) {
    text-transform: lowercase;
  }
}

.card-title {
  font-size: clamp(1.125rem, 0.955rem + 0.68vw, 1.5rem);
  font-weight: 700;
}

.card-text {
  font-size: clamp(0.75rem, 0.636rem + 0.45vw, 1rem);
  font-weight: 400;
}

.card-link {
  font-size: clamp(0.75rem, 0.693rem + 0.23vw, 0.875rem);
  font-weight: 500;

  @media screen and (any-hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.hero-item-text {
  font-weight: 400;
  font-size: clamp(0.75rem, 0.693rem + 0.23vw, 0.875rem);
}

.choose-role-title {
  font-size: clamp(0.875rem, 0.818rem + 0.23vw, 1rem);
  font-weight: 700;
}

.regular {
  font-weight: 400;
  font-size: 12px;
}

.h1 {
  font-weight: bold;
  font-size: clamp(2rem, 1.545rem + 1.82vw, 3rem);
}
