.container {
  padding-top: var(--space-4);
  padding-bottom: var(--space-2);

  position: sticky;
  top: 0;
  z-index: var(--z-medium);
}

.image {
  max-width: 120px;
  max-height: 20px;
  transition: opacity var(--transition);

  @media screen and (any-hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }
}
