.container {
  flex-direction: row;
  align-items: center;
  gap: var(--space-5);

  @media screen and (width <= 1024px) {
    gap: var(--space-8);
    align-items: flex-start;
    flex-direction: column;
  }
}

.item {
  transition:
    opacity var(--transition),
    font-size var(--fast-transition);

  @media screen and (any-hover: hover) {
    &:hover {
      opacity: 0.8;
      font-size: 14px;
    }
  }

  @media screen and (width <= 1024px) {
    color: var(--white) !important;
  }
}
