.container {
  padding: var(--space-4);
  border-radius: var(--space-4);
  max-width: 180px;
}

.icon {
  max-width: 20px;
  max-height: 20px;
}

.image {
  max-width: 416px;
  max-height: 260px;
  width: 100%;
  height: 100%;

  border-radius: var(--space-4);
  flex: 1 0;
}
