.container {
  padding: var(--space-4);
  border-radius: var(--space-4);
  max-width: 180px;
}

.icon {
  max-width: 20px;
  max-height: 20px;
}

.image {
  width: auto;
  height: auto;

  border-radius: var(--space-4);
  flex: 1 0;
}
