.container {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: var(--space-5);

  @media screen and (width <= 1024px) {
    gap: var(--space-2);
  }
}

.card {
  grid-column: 4 span;
  grid-row: 12 span;

  border-radius: var(--space-4);
  padding: var(--space-5);

  gap: var(--space-5);
  min-height: 190px;
  height: 100%;
  width: 100%;

  &:nth-child(3),
  &:nth-child(4) {
    grid-row: 6 span;
  }

  @media screen and (width <= 1024px) {
    grid-column: 12 span;
    grid-row: 4 span;

    &:nth-child(3),
    &:nth-child(4) {
      grid-row: 4 span;
    }

    min-height: 160px;

    &:nth-child(3),
    &:nth-child(4) {
      grid-column: 6 span;
    }

    &:nth-child(2) {
      order: 1;
    }
  }
}

.title {
  height: 100%;
}
