.container {
  @media screen and (width <= 768px) {
    display: none;
  }
}

.list {
  flex-wrap: wrap;
  gap: var(--space-3);

  @media screen and (width <= 768px) {
    gap: var(--space-2);
  }
}

.image {
  max-width: 48px;
  max-height: 48px;

  transition: opacity var(--transition);

  @media screen and (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}
